@page "{receiverId}"
@model Snackis4Anton.Pages.Users.SendMessageModel
@{
    ViewData["Title"] = "Send Message";
}

<h1>Send Message to @Model.ReceiverName</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="NewMessage.Text" class="control-label"></label>
        <textarea asp-for="NewMessage.Text" class="form-control"></textarea>
        <span asp-validation-for="NewMessage.Text" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="NewMessage.SenderId" value="@Model.SenderId"/>
    <input type="hidden" asp-for="NewMessage.ReceiverId" value="@Model.ReceiverId" />
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<div>
    <a asp-page="/Users/Details" asp-route-id="@Model.ReceiverId">Back to User</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}